html{
    scroll-behavior: smooth;
}
h1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:black;
    padding: 12px;
    margin: 10px;
    font-size:50px;
    display: block;
}
h2{
    font-size: 35px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
}
.div img{
    width: 20px;
    height: 10px;
}
.gfg {
    margin: 3%;
    position: relative;
}
.first-txt {
    position: absolute;
    top: 17px;
    left: 50px;
}
.second-txt {
    position: absolute;
    bottom: 20px;
    left: 10px;
}
nav a {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 20px;
    text-align:right;
    float:right;
    color: black;
    
}
nav {
    background: linear-gradient(45deg,rgb(111, 47, 128),rgb(174, 95, 95),rgb(153, 70, 143));
    overflow: hidden;
}
table img{
    width: 350px;
    height: 300px;
}
table{
    width: 100%;
}
p{
    font-size: 35px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
}
body{
    background: linear-gradient(45deg,pink,rgb(168, 160, 160),pink);
}